html
{
	font-family: "helvetica neue", "Arial", sans-serif;
}
body
{
	background-color: #ffffff;
	margin: 0;

}
p{
		font-family: "helvetica neue", "Arial", sans-serif;
        color: #5d6660;
        font-size: 16px;
        line-height: 24px;
}
header
{
	height: 80px;
	background-color: white;
}
#header-container
{
	width: 80%;
	margin: auto;

}

.col-3
{
	
	width: 33%;
	float: left;/*order*/
}
.logo
{
	padding-top: 32px;
}
.menu
{
     margin-top:32px;  
}
.menu li 
{
     list-style: none;
     display: inline;
     font-size: .85em;
     color: #8e8e8e;
     padding-right: 30px;

}
.getStartedbtn
{
	background-color: #6dc77a;
	border-radius: 28px;
	-moz-border-radius : 28px;
	-webkit-border-radius:20px;
	text-decoration: none;
	color: white;
	padding: 10px 26px;
	margin-top: 20px;
	display: inline-block;
	font-size: 18px;
	float: right;
}

#top-section-main
{
	background-image: url(images/Friends.jpg);
    height: 740px;
    border: none;
}
#top-section-content
{
    width:60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;

}
#top-section-content h1
{
	color: white;
	font-size: 4em;
	font-weight: 300;
	text-align: center;
	margin-top: 0;
	padding-top: 100px;
	margin-bottom: 10px;
}
#top-section-content p
{
	color: white;
	font-size: 1.3em;
	font-weight: 400;
	text-align: center;
	

}
.play-button
{
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 50px;
	padding-bottom: 110px;

}
.main-form h6
{
	color: white;
	font-family: sans-serif;
	font-size: .9em;
	font-weight: 100;
	text-align: center;
}
.main-form input
{
	margin: 0;
	width: 30%;
	height: 40px;
	font-family: sans-serif;
	font-size: 15px;
	padding-left:15px;
    border: none;
    font-weight: 100;
}
.main-form button
{
	margin: 0;
	width: 30%;
	height: 42px;
	font-family: sans-serif;
	font-size: 15px;
	padding-left: 15px;
	font-weight: 100;
	background-color: #6dc77a;
	border: none;
	color: white;
}
#feature-section 
{
     padding-top: 100px;

}
.feature-section-title
{
	width: 70%;
	text-align: center;
	font-weight: 200;
	line-height: 1.5em;
	margin: auto;
	padding-bottom: 100px;
}
.feature-section-title span
{
	background-color: #6dc77a;
	color: #ffffff;
	padding : 2px;
}
.Feature-content
{
	margin: auto;
	width: 80%;
	text-align: center;


	
}
.Feature-content .col-3 img
{
	width: 100%;

}
.Feature-content .col-3 p
{
    font-size: .9em;
    letter-spacing: 1px;
    text-align: center;
}
.Feature-content .col-3
{
	padding: 10px;
	width: 30%;
}

#showcase
{
	margin: auto;
	width: 80%;
}